@model IEnumerable<GamingGearConnectionString.LoaiSP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        margin: auto;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #375DCD;
            color: white;
        }
</style>
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Quản Lý Loại Sản Phẩm</h1>
    </div>
    <table id="customers">
        <tr>
            <th>Loại sản phẩm</th>
            <th>Tình trạng</th>
            <th><a href="@Url.Action("Create","LoaiSP")"><img src="~/Areas/Admin/Assets/img/Add.png" /></a></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaLoaiSP</td>
                <td>@item.TinhTrang</td>
                <td><a href="@Url.Action("Edit","LoaiSP",new { id=@item.MaLoaiSP })"><img src="~/Areas/Admin/Assets/img/Edit.png" /></a></td>
            </tr>
        }


    </table>

</div>

