
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Areas/Admin/Assets/js/Product/previewFile.js"></script>
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4e73df;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #2E59D9;
        }
</style>
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Thêm Sản Phẩm</h1>
    </div>

    <div>
        @using (Html.BeginForm("Create", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label for="sp">Mã sản phẩm</label>
            <input type="text" id="sp" name="MaSP" placeholder="Mã sản phẩm" required>
            <br />
            <label for="lsp">Loại sản phẩm</label>
            @Html.DropDownList("MaLoaiSP", null, new { @style = "width: 100%; padding: 12px 20px; margin: 8px 0; display: inline - block; border: 1px solid #ccc; border - radius: 4px; box - sizing: border - box; " })
            <br />
            <label for="nsx">Nhà sản xuất</label>
            @Html.DropDownList("MaNSX", null, new { @style = "width: 100%; padding: 12px 20px; margin: 8px 0; display: inline - block; border: 1px solid #ccc; border - radius: 4px; box - sizing: border - box; " })

            <br />
            <label for="tsp">Tên sản phẩm</label>
            <input type="text" id="tsp" name="TenSP" placeholder="Tên sản phẩm" required>
            <br />
            <label for="mt">Mô tả</label>
            <input type="text" id="mt" name="MoTa" placeholder="Mô tả" required>
            <br />
            <label for="h">Hình 1</label><br />
            <input type="file" id="h1" name="Hinh1" onchange="previewFile();">
            <div><img id="target" class="img" src="#" alt="Xem trước hình" style="width:200px;height:200px;" /></div>
            <br />
            <label for="h">Hình 2</label><br />
            <input type="file" id="h2" name="Hinh2">
            <br />
            <label for="h">Hình 3</label><br />
            <input type="file" id="h3" name="Hinh3">
            <br />
            <label for="h">Hình 4</label><br />
            <input type="file" id="h4" name="Hinh4"><br />
            <br />
            <label for="g">Giá</label>
            <input type="text" id="g" name="Gia" placeholder="Giá" required>
            <br />
            <label for="ct">Chi tiết</label>
            @*<input type="text" id="ct" name="ChiTiet" placeholder="Chi tiết" required>*@
            <textarea class="ckeditor" name="ChiTiet" style="width: 100%; padding: 12px 20px; margin: 8px 0; display: inline - block; border: 1px solid #ccc; border - radius: 4px; box - sizing: border - box; "></textarea>
            <input type="submit" value="Thêm sản phẩm">
        }

    </div>

</div>

